h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 14px;
    padding: 10px;
    font-weight: 700;
}